body {
    background-image: url(gallery_pictures/img/wall_middle.jpg);
    background-size: 100%;
    min-height: 800px;
}

.container-fluid{
    background-image: url(gallery_pictures/img/wall_top.jpg),
    url(gallery_pictures/img/wall_bottom.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, left bottom;
    background-size: 100%, 100%;
}

#main-container {
    min-height: 700px;
}

.logo-wrapper {
    height: 70px;
    padding: 10px;
}

.logo {
    width: 198px;
    height: 43px;
    background: url('gallery_pictures/logo4.png') no-repeat;
    cursor: pointer;
    margin-bottom: 10px;
}


.nav {
    display: inline-block;
    height: 80px;
    width: 80px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2px;
    background-color: black;
    color: white;
    opacity: 0.8;
    line-height: 80px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Impact';
}

.nav-wrapper{
    margin: 10px;
}

@media only screen and (min-width: 768px) {

    .container-fluid {
        padding-left: 0;
    }

    .nav-wrapper {
        margin: 0;
    }

    .logo{
        float: right;
    }
    .nav{
        display: block;
    }
}

.nav:hover {
    background-color: white;
    color: black;
}



.about {
    max-width: 800px;
    height: auto;
    position: relative;
    /*margin: 50px auto;*/
    margin: 0 auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.img022{
    width: 100%;
}

.gallery a {
    display: block;
    height: 300px;
}

.gallery img {
    width: 300px;
    margin: 40px auto;
    display: block;
}

audio {
    cursor: pointer;
}

ul div {
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    padding: 7px;
    border-radius: 10px;
    width: 350px;
    height: 75px;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 10px;
    font-family: 'Impact';
    line-height: 40px;
    padding-left: 20px;
    margin-top: 50px;
}